.header-section {
  flex-direction: column;
}
.top-header {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  color: #7d4998;
}
.logo svg {
  font-size: 70px;
}
.search {
  width: 550px;
  height: 45px;
  display: flex;
  overflow: hidden;
}
.search-input {
  border: 2px solid #e6e6e6;
  color: #7d4998;
  width: 85%;
  font-size: 18px;
  border-radius: 8px 0 0 8px;
  padding: 5px 10px;
}
.search-btn {
  font-size: 18px;
  width: 15%;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #7d4998;
  color: #fff;
}
.wish-list {
  display: flex;
  align-items: center;
  position: relative;
}
.wish-list a {
  font-size: 24px;
  font-weight: 600;
}
.wish-list-icon {
  width: 50px;
  height: 50px;
  background-color: #7d4998;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-left: 10px;
}
.wish-list-icon svg {
  color: #fff;
  font-size: 24px;
}
.items-list-count {
  position: absolute;
  color: #fff;
  background-color: #4d4d4d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: -15px;
  right: -15px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
}
.nav-bar {
  display: flex;
  width: 100%;
  background-color: #7d4998;
}
.nav-itm-con {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-itm-con a {
  color: #fff;
}
.top-bannr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #7d4998;
    margin: 0 0 2px 0;
}
.top-bannr div{
    display: flex;
    padding: 0px 10px;
}
.top-bannr a{
    margin: 0px 5px;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
