.home-page {
  width: 100%;
  display: flex;
}
.Products-container {
  width: 80%;
  padding: 30px;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-Products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.item-container {
  width: 17%;
  padding: 20px;
  margin: 25px 0px;
  border: solid 1px #d2d2d2;
  border-radius: 8px;
}
.product-image img {
  width: 100%;
  border: solid 1px #d2d2d2;
  border-radius: 8px;
}
.product-inf-prce {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-prce {
    color: #0e8e00;
    font-size: 20px;
    font-weight: 600;
}
.items-filtre-container {
  width: 20%;
}
.navgation-btn {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navgation-btn button {
  width: 40%;
  padding: 10px;
  background-color: #7d4998;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}
